* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 20px;
}

#root {
  padding-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50vw;
}

.door {
  border: 1px solid #999;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 15vh;
}

.closed {
  background-color: #999;
}

.locked {
  background-color: #111;
  color: #fff;
}

.open {
  background-color: #fff;
}

.triggered {
  font-size: 16px;
  font-weight: bold;
}

.doorPanel {
  float: left;
  width: 80%;
}
.alarmPanel {
  float: right;
  width: 20%;
}